process {
  // SP@NC
  withName: qiime2_phylogeny_diversity {
    cpus = 8
    memory = 500.GB
  }

  // SP@NC
  withName: html_rep {
    cpus = 8
    memory = 128.GB
  }
}

// Generate report
report {
  enabled = true
  overwrite = true
  file = "$params.outdir/report/report.html"
}
// Timeline
timeline {  
  enabled = true  
  overwrite = true
  file = "$params.outdir/report/timeline.html"
}
// DAG
dag {
  enabled = true
  file = "$params.outdir/report/dag.html"
  overwrite = true
}
